* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 20px;
    margin: 25px;
    background-color: darkcyan;
    color: white;
    border: transparent;
}

header {
    height: auto;
    background-color: darkcyan;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav {
    width: auto;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: 0.5s;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

section {
    padding: 50px;
    background-color: silver;
    height: 200px;
    overflow: scroll;
}

span {
    color: brown;
    display: none;
}

input {
    margin: 35px;
    font-size: 2rem;
    border: transparent;
}

input:focus {
    border: gray 3px solid;
    border-radius: 5px;
}

.cuadro {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: royalblue;
}

.negro {
    background-color: black;
}

.notificacion {
    padding: 30px;
    background-color: green;
    color: white;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 9999;
    border-radius: 5px;
}

.inputGood {
    box-shadow: green 0 0 10px;
}

.inputBad {
    box-shadow: red 0 0 10px;
}

.inputFocus {
    box-shadow: purple 0 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnMenu {
    margin-right: 10px;
    padding: 15px;
    display: none;
    font-size: 1.5rem;
}

#hiddenMenu {
    position: absolute;
    z-index: 999;
    right: 0;
    display: none;
    flex-direction: column;
    background-color: darkcyan;
}

#hiddenMenu ul li {
    list-style: none;
    padding: 15px;
    text-align: center;
}

#hiddenMenu ul li a {
    text-decoration: none;
    color: white;
}

#menuContacto {
    background-color: gray;
    color: white;
    display: none;
    justify-content: flex-end;
}

#circulo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

@media (max-width: 640px) {
    .elementMenu {
        display: none;
    }
    #btnMenu {
        display: block;
    }
}

@media (min-width: 641px) {
    #hiddenMenu {
        display: none;
    }
}